.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, .1);
}

.navbar .login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.navbar .logo {
    margin: auto;
}

.navbar .category ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar .category ul li {
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.navbar .category ul li:hover {
    color: rgba(239, 6, 6, 0.613);
}

.navbar .category .search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .category .search-bar input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 5px 0;
    font-size: 16px;
}