.h1-tag {
    text-align: center;
}

.products {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.video-container .container {
    position: absolute;
    color: white;
    width: 77%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-container .container .wlc {
    font-size: 5em;
}

.video-container .container .title {
    font-size: 3.5em;
    color: red;
}



/*image-slider*/
.carousel {
    margin-top: 20px;
}

.slider {
    width: 100%;
}

.slider img {
    width: 500px;
    height: 600px;
    object-fit: contain;
}


@media (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
        /* 3개의 컬럼으로 줄이기 */
    }
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        /* 2개의 컬럼으로 줄이기 */
    }
}

@media (max-width: 300px) {
    .products {
        grid-template-columns: 1fr;
        /* 1개의 컬럼으로 줄이기 */
    }
}