.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: auto;
    margin-top: 20px;
    background-color: rgb(212, 213, 215);
}

.footer-container .footer-menu {
    position: relative;
    left: 0px;
    display: flex;
    width: 80%;
}

.footer-container .footer-menu div {
    margin: 0 20px;
    width: 100%;
}

.footer-container .footer-menu div ul {
    display: flex;
    padding: 5px;
    flex-direction: column;

}

.footer-container .footer-menu div ul li {
    font-size: 1.2rem;
    list-style: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.footer-container .footer-menu div ul li:hover {
    color: #fff;
    font-weight: 600;
}

.footer-container .footer-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer-container .socials ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
}

.footer-container .socials ul li {
    font-size: 1.5rem;
    padding: 0 10px;
    transition: color 0.3s ease-in-out;
}

.footer-container .socials ul li:hover {
    color: #fff;
    cursor: pointer;
}

.footer-container .info {
    text-align: center;
    font-weight: 500;
    padding: 10px;
}

.footer-container .info a {
    text-decoration: none;
    color: #000;
}

.footer-container .info p img {
    padding-top: 10px;
}